.showMessage {
  background-color: grey;
  min-height: 100vh;
  max-width: 500px;
  margin: auto;
  position: relative;
}
.aa {
  width: 60px;
  height: 60px;
  background-color: rebeccapurple;
}
.link {
  background: #ef4343;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 80px;
  height: 80px;
  font-size: 50px;
  position: fixed;
  bottom: 0px;
  right: 0px;
}
